<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/chienlove/chienlove.github.io/releases/download/Spectra/Spectra.ipa</string>
				</dict>
				<dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/9c/05/7e/9c057eb5-a589-59dd-9f57-c7867a6407d4/source/350x350bb.jpg</string>
	            </dict>
	            <dict>
	                <key>kind</key>
	                <string>full-size-image</string>
	                <key>needs-shine</key>
	                <false/>
	                <key>url</key>
	                <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/9c/05/7e/9c057eb5-a589-59dd-9f57-c7867a6407d4/source/350x350bb.jpg</string>
	            </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>net.storeios.msglite</string>
				<key>bundle-version</key>
				<string>170.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
                <string>storeios Inc</string>
				<key>title</key>
				<string>Messenger Lite by Storeios.Net</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
